body {

}

nav {
      width: 20%;
      display: flex;
      align-items: space-between;
      list-style-type: none;
      overflow: hidden;
      width: auto;
      height: 760px;
      margin-bottom: 60px;
      margin-left: 20px;

}
